.sidebar {
  background: #151b1d;
  color: white;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 30px;
  height: 100%;
  width: 250px;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.625;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transform: translateX(0);
  transition: transform .2s;

  &.isFullscreen {
    transform: translateX(-250px);
  }
}

.sidebar > * {
  box-sizing: border-box;
}

.sidebar:before {
  content: ' ';
  height: 100%;
  position: absolute;
  top: 0;
  width: 15px;
  box-shadow: inset -12px 0 12px -12px rgba(0, 0, 0, 0.8);
  right: 0;
  pointer-events: none;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .logo {
  max-width: 80%;
  margin: 20px 30px 25px 30px;
  background-image: url('./img/swingset-dark.svg');
  display: block;
  width: 190px;
  height: 45px;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.sidebar .search {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 1px solid #373942;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 4px;
  max-width: 100%;
}

.sidebar .search:focus {
  outline: 0;
  border-color: rgba(255, 255, 255, 0.3);
}

.sidebar .searchContainer {
  position: relative;
  margin: 1rem 1rem 2rem;
}

.sidebar .searchHint {
  position: absolute;
  right: 0.75rem;
  top: 10px;
  border: 1px solid;
  height: 24px;
  width: 24px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.4);
}

.notFound {
  background: #df7873;
  padding: 12px 17px;
  color: white;
  border-radius: 5px;
}

.stage {
  position: relative;
  padding: 20px 30px 30px;
  margin-left: 270px;
  transition: margin-left .2s;

  &.isFullscreen {
    margin-left: 0;
  }
}

.fullscreenBttn {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  border: 1px solid #999999;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.stage > :global(.__swingset-headline) {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage > :global(.__swingset-headline) h1:first-child {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 2.2em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.625;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #151b1d;
}

.stage > :global(.__swingset-headline) h1:first-child code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-weight: bold;
  color: #e86c60;
  font-size: 1em;
}

.stage :global(.__swingset-meta) {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.stage :global(.__swingset-meta) > a {
  margin-right: 20px;
  opacity: 0.7;
  transition: opacity 0.25s ease;
}

.stage :global(.__swingset-meta) > a:hover {
  opacity: 1;
}

.stage :global(.__swingset-meta) > a:last-child {
  margin-right: 0;
}

.stage :global(.__swingset-meta) :global(.__swingset-meta-github) {
  background-image: url('./img/github-icon.svg');
  width: 25px;
  height: 23px;
  background-size: 100%;
}

.stage :global(.__swingset-meta) :global(.__swingset-meta-npm) {
  background-image: url('./img/npm-icon.svg');
  width: 48px;
  height: 19px;
  background-size: 100%;
}
